@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200;600&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background-color:black;
    color: #F6F6F6; 
}

.titulo-destaque {
    color: #22D4FD;

}
h1{
    font-size: 36px;
    font-family:'Krona One', sans-serif;
}
.apresentacao{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;

}

.caixa{
    margin: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.conteudo{
    width: 615px; 
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.botoes{
    display: flex;
    justify-content: space-between;
    
}

img{
    height: 45%;
 width: 45%;
 object-fit:contain;
 
}


.botoes_link{
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    color: black;
    padding: 18px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    

}
