@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200;600&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
  
    box-sizing: border-box;
    background-color:#0D0D0D;
    color: #F6F6F6; 
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #3A3659;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.cabecalho_menu{
    text-decoration: none;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #3A3659;

}
h1{
    font-size: 2.25rem;
    font-family:'Krona One', sans-serif;
}
.apresentacao{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;

}
.apresentacao_subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight: 400; 
    font-size: 1.6rem;
}

.caixa{
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.conteudo{
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 82px;
    
}


.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    
}

.perfil{
    height: 40%;
 width: 40%;
 object-fit:contain;
 
}


.botoes_link{
    
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #F6F6F6;
    padding: 18px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 2px solid #3A3659;
}
.botoes_link:hover{
    background-color: #3A3659;
}
.rodape{
    background-color: #3A3659;
    color: #F6F6F6;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.box{
    padding: 4% 15%;
    display: flex;
    flex-direction: column;
    align-items:flex-start; 
    justify-content: space-between;
    gap: 30px;

}
.section_figma{
    display: flex;
    gap: 20px;
    object-fit: contain;
}
.figma_imagem{
    height: 20%;
    width: 20%;
}
.subtitulo{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    color: #F6F6F6;
   
}
.figma{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}
.topicos{
    display: flex;
    font-size: 1.5rem;
   gap: 30px;
width: auto;
   padding: 5%;
   align-items: center;
   
}
h6{
    display: flex;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #3A3659;
    border-radius: 38px;
    padding: 15px 20px;
    
}
h6:hover{
    background-color: #261A18;
    color:#A69FA2;

}
@media(max-width:1200px){
    .cabecalho{
        padding: 6%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .conteudo{
        width: auto;
    }

.caixa{
    flex-direction: column-reverse;
    padding: 5%;
}
.topicos{
    flex-direction: column;
}
}
