@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@200;600&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
  
    box-sizing: border-box;
    background-color:black;
    color: #F6F6F6; 
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #1f6c7e6c;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.titulo-destaque {
    color: #22D4FD;

}
h1{
    font-size: 36px;
    font-family:'Krona One', sans-serif;
}
.apresentacao{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;

}
.apresentacao_subtitulo{
    font-family:'Krona One', sans-serif;
    font-weight: 400; 
    font-size: 24px;
}

.caixa{
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

}

.conteudo{
    width: 615px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}


.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    
}

.perfil{
    height: 40%;
 width: 40%;
 object-fit:contain;
 
}


.botoes_link{
    
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    color: #F6F6F6;
    padding: 18px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 2px solid #22D4FD;
}
.botoes_link:hover{
    background-color: #1f6c7e6c;
}
.rodape{
    background-color: #1f6c7e6c;
    color: #F6F6F6;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 600;
}
